body {
    background: grey;
    color: white;
    text-align: center
}
.profile{
  border-radius: 50%;
  width: 30%;
}
.btn{
  display: block;
  padding: 20px;
  color: black;
  margin :16px;
  background: white;
  box-shadow: 10px 10px lightblue;
}